/* ======================
   Kiosk Lobby Compoments
   ======================*/

$kiosk-items-padding: 15px 0;

* {
  box-sizing: border-box;
}

.kiosk-lobby {
  @extend .flex-container;

  background-image: url('../images/bg-display.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  font-family: $font-family-sans-serif;
}

%kiosk-lobby__column {
  @extend .flex-column;

  padding: 15px;
}

.kiosk-lobby__column--1,
.kiosk-lobby__column--3 {
  @extend %kiosk-lobby__column;

  flex: .3;
}

.kiosk-lobby__column--2 {
  @extend %kiosk-lobby__column;

  flex: .4;
}

@media screen and (max-width: 900px) {
  .kiosk-lobby {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .kiosk-lobby__column--1 {
    flex: 1 1 100%;
    order: 1;
  }

  .kiosk-lobby__column--2 {
    flex: 1 1 100%;
    order: 3;
  }

  .kiosk-lobby__column--3 {
    flex: 1 1 100%;
    order: 2;
  }

}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .kiosk-lobby {
    flex-direction: row;
  }

  .kiosk-lobby__column--1 {
    flex: 1 1 50%;
    order: 1;
  }

  .kiosk-lobby__column--2 {
    flex: 1 1 100%;
    order: 3;

  }

  .kiosk-lobby__column--3 {
    flex: 1 1 50%;
    order: 2;
  }

}

.kiosk-lobby__time,
.kiosk-lobby__logo {
  padding: $kiosk-items-padding;
}

.kiosk-lobby__weather {
  padding: $kiosk-items-padding;
}

.kiosk-lobby__tweets {

  align-self: stretch;
  display: flex;
  flex: 1;
  padding: $kiosk-items-padding;
}

.kiosk-lobby__gallery {
  padding: $kiosk-items-padding;
}

.kiosk-lobby__asu-news {
  align-self: stretch;
  display: flex;
  flex: 1;
  padding: $kiosk-items-padding;
}

.kiosk-lobby__posts {
  padding: $kiosk-items-padding;
}
