/* ======================
   Kiosk Third Floor Compoments
   ======================*/
$kiosk-padding: 15px;

* {
  box-sizing: border-box;
}

.kiosk-third-floor {
  @extend .flex-container;

  background: linear-gradient(to bottom, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 54%, #9fd8ef 58%, #2ab0ed 100%);
  color: #333;
  font-family: $font-family-sans-serif;
  font-size: 1.6vmin;
  padding: $kiosk-padding;
}

.kiosk-third-floor__column {
  @extend .flex-column;

  padding: $kiosk-padding;  
}

.kiosk-third-floor__column--1 {
  @extend .kiosk-third-floor__column;

  flex: .7;
}

.kiosk-third-floor__column--2 {
  @extend .kiosk-third-floor__column;

  flex: .3;
}

@media screen and (max-width: 1200px) {
  .kiosk-third-floor__column--1 {
    flex: 1;
  }

  .kiosk-third-floor__column--2 {
    flex: 1;
  }
}

.kiosk-third-floor__people-slider,
.kiosk-third-floor__tweets {
  @extend .flex-container;
  padding: $kiosk-padding;
  width: 100%;
}

.kiosk-third-floor__time,
.kiosk-third-floor__weather,
.kiosk-third-floor__logo
 {
  padding: $kiosk-padding;
}
