/* ======================
   Kiosk Lobby Compoments
   ======================*/
* {
  box-sizing: border-box;
}

.kiosk-lobby {
  @extend .flex-container;

  background-image: url('../images/bg-display.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  font-family: $font-family-sans-serif;
  //font-size: 1.7vmin;
  //padding: 15px 0;
  width: 100%;
}

%kiosk-lobby__column {
  @extend .flex-column;

  flex: .3;
  padding: 10px;
}

.kiosk-lobby__column--1,
.kiosk-lobby__column--3 {
  @extend %kiosk-lobby__column;

  flex: .3;
}

.kiosk-lobby__column--2 {
  @extend %kiosk-lobby__column;

  flex: .4;
}

@media screen and (max-width: 1500px) {
  .kiosk-lobby__column--1 {
    order: 1;
  }

  .kiosk-lobby__column--2 {
    order: 3;
  }

  .kiosk-lobby__column--3 {
    order: 2;
  }
}

.kiosk-lobby__weather {
  padding: 15px 0;
  width: 100%;
}

.kiosk-lobby__tweets {
  flex: 1;
  padding: 15px 0;
  width: 100%;
}

.kiosk-lobby__time {
  padding: 0 15% 15px;
  width: 100%;
}

.kiosk-lobby__gallery {
  flex: 1;
  padding: 15px 0;  
  width: 100%;
}

.kiosk-lobby__asu-news {
  flex: 1;
  padding: 15px 0 10px;
  width: 100%;
}

.kiosk-lobby__posts {
  height: 1019px;
  width: 100%;
}
