// ===============
// Calendar Widget
// ===============

$calendar-background-color: #fff;
$calendar-border-radius: .6em;
$calendar-transform: rotate(0deg) skewY(0deg);
$calendar-strong-box-shadow: 0 2px 0 #fd9f1b;

.calendar {
  display: inline-block;
  float: left;
  margin-right: 10px;

  time.icon {
    -webkit-backface-visibility: hidden;
    background-color: $calendar-background-color;
    -webkit-border-radius: $calendar-border-radius;
    border-radius: $calendar-border-radius;
    -moz-box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd;
    -webkit-box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd;
    display: block;      
    font-size: 5px;
    height: 40px;
    overflow: hidden;
    position: relative;
    -moz-transform: $calendar-transform;
    -ms-transform: $calendar-transform;
    -o-transform: $calendar-transform;
    -webkit-transform: $calendar-transform;
    transform: $calendar-transform;
    -moz-transform-origin: 50% 10%;
    -ms-transform-origin: 50% 10%;
    -o-transform-origin: 50% 10%;
    -webkit-transform-origin: 50% 10%;
    transform-origin: 50% 10%;
    width: 40px;

    * {
      display: block;
      font-size: 1em;
      font-style: normal;
      text-align: center;
      width: 100%;
    }

    strong {
      background-color: #fd9f1b;
      -moz-box-shadow: $calendar-strong-box-shadow;
      -webkit-box-shadow: $calendar-strong-box-shadow;
      box-shadow: $calendar-strong-box-shadow;
      color: #fff;
      font-size: 2.5em;
      font-weight: normal;
      height: 16px;
      padding: 1px 0;
      position: absolute;
      top: 0;
    }

    em {
      bottom: 0;
      color: #666;
      font-size: 3.3em;
      font-weight: bold;
      position: absolute;
    }
  }
}
