@mixin category-badge($category, $background-color, $font-color, $type:'events') {
  .#{$category},
  .#{type}-#{$category} {
    background-color: $background-color;
    color: $font-color;
    display: block;
  }
  
}

.event-category,
.news-category {
  color: white;
  display: none;
  font-size: 80%;
  margin-left: 10px;
  padding: 1px 3px;
  text-align: center;
  white-space: nowrap;
}

.news-category {
  background: gray;
  color: white;
  display: block;
}

// TODO migrate colors to variables.scss

@include category-badge('wrigley-lecture', #5b6770, white);
@include category-badge('sustainability-series', #5d9732, white);
@include category-badge('case-critical', #ff6c00, white);
@include category-badge('carbon-nation', #188dcb, white);
@include category-badge('lightworks', #fdc33c, white);
@include category-badge('scientists-and-scholars', #a9d0e3, black);
@include category-badge('carbon-nation', #188dcb, white);
@include category-badge('sustainability-after-school', #8a1042, white);
@include category-badge('sustainability-scientists', #a9d0e3, white);

// TODO news category badges need to be colored
