// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth

// ======================
// SoS Hero and Hero Slim
// ======================

// TODO Move these styles to ASU-Web-Standards-Bootstrap once approved by The Hub.
.sos-hero,
.sos-hero-slim {
  background-color: #d5d5d5;
  position: relative;
  width: 100%;

  .container {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .panel-pane {
    font-family: 'open sans', arial, sans-serif;
    font-weight: 300;
    line-height: 30px;
    margin-top: 3%;

    .pane-title {
      color: $sos-hero-color;
      display: block;
      font-size: 32px;
      font-weight: 600;
      margin: 0;
      padding: 0;
      text-shadow: rgba(0, 0, 0, .7) 1px 1px 1px;

      @media(max-width: $screen-md-max) {
        font-size: 32px;
      }

      @media(max-width: $screen-sm-max + 100) {
        font-size: 28px;
      }

      @media(max-width: $screen-sm-max) {
        font-size: 24px;
      }
    }
  }
}

// ========
// SoS Hero
// ========

.sos-hero {
  padding-bottom: $sos-hero-ratio;

  img {
    left: 0;
    min-height: $sos-hero-ratio;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .panel-pane {
    width: 50%;

    @media(max-width: $screen-xs-max) {
      display: none;
    }

    .pane-title {
      // pane-title is in panel-pane which is in a container
      // so this will never exceed the width of the entire body.
      // Instead this will just make the pane-title take up
      // at most the width of the container.
      width: 200%;

      @media(min-width: $screen-lg-min) {
        font-size: 50px;
      }
    }

    .pane-content {
      color: $sos-hero-color;
      font-weight: bold;
      margin: -14px 0 0;
      padding-top: 8px;
      text-shadow: rgba(0, 0, 0, .7) 1px 1px 1px;
      
      @media(max-width: $screen-md-max) {
        font-size: .9em;
        margin-top: -18px;
      }
    }

    p {
      font-weight: bold;
      margin: 0 0 14px;

      @media(max-width: $screen-md-max) {
        margin: 0 0 10px;
     }
    }
  }
}

.sos-hero-mobile {
  display: none;
  font-family: 'open sans', arial, sans-serif;
  font-size: 22px;
  font-weight: 300;

  @media(max-width: $screen-xs-max) {
    display: block;
  }

  .pane-title {
    background-color: $sos-scarab-green;
    color: $sos-hero-color;
    display: block;
    font-family: 'open sans', arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
  }

  .pane-content {
    font-size: 18px;
    padding: 25px;

    p {
      margin: 0 0 8px;
    }
  }
}

// scss-lint:disable QualifyingElement
// Hide on home!
body.home {
  .sos-hero-mobile {
    display: none !important;
  }
}
// scss-lint:enable QualifyingElement


// =============
// SoS Slim Hero
// =============

.sos-hero-slim {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: $sos-hero-slim-height;

  .panel-pane {
    margin-top: 14px;

    @media(max-width: $screen-sm-max + 100) {
      margin-top: 18px;
    }

    @media(max-width: $screen-xs-max) {
      display: table-cell;
      margin-top: 0;
      vertical-align: middle;
    }
  }

  @media(max-width: $screen-xs-max) {
    .panel-panel {
      &.row-fluid {
        display: block;
        height: $sos-hero-slim-height;
      }

      &.span12 {
        display: table;
        height: 100%;
        width: 100%;
      }
    }
  }
}
