// ===========
// media.scss
// ===========
.media-grid-view {
  div.media-thumb-view {
    min-height: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
  }
}

.media-thumb {
  min-height: 120px;
}
