/* =========
   Flex Grid
   =========*/

.flex-container {
  align-content: center;
  align-items: center;
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: middle;
}

.flex-column {
  align-content: space-around;
  align-items: center;
  display: flex;
  flex: auto;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  vertical-align: middle;
}
