/* =======
   Gallery
   =======*/

.kiosk-gallery {
  @include boxify;

  background: $kiosk-component-background;
  height: 360px;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
}

.kiosk-gallery__slider-caption h3 {
  color: #fff;
}

.kiosk-gallery__slider {
  @extend .carousel;

  height: 100%;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
}

.kiosk-gallery__slider__carousel-inner {
  @extend .carousel-inner;
}

.kiosk-gallery__carousel-inner {
  height: 100%;
}

.kiosk-gallery__slider__slide {
  @include center-block;

  height: 100%;

  img {
    @include center-block;
    @include img-responsive;    

    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.kiosk-gallery__slider__carousel-indicators {
  @extend .carousel-indicators;
  
  visibility: hidden;
}
