/* =======
   Gallery
   =======*/

.kiosk-gallery {
  @include boxify;

  overflow: hidden;
}

.kiosk-gallery__slider {
  @extend .carousel;
}

.kiosk-gallery__slider__carousel-indicators {
  @extend .carousel-indicators;

  visibility: hidden;
}

.kiosk-gallery__slider__carousel-inner {
  @extend .carousel-inner;

  height: 35%;
}

.kiosk-gallery__slider__slide {
  display: block;
  height: 100%;
  width: 100%;

  img {
    @include img-responsive;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.kiosk-gallery__slider-caption {
  @extend .carousel-caption;

  color: #fff;
  display: block;
  font-weight: bold;
}

.kiosk-gallery__no-data {
  text-align: center;
}
