/* =============
   People Slider
   =============*/

.kiosk-people-slider {
  
  align-self: stretch;
  flex: 100%;
}

.kiosk-people-slider__slider {
  @extend .carousel;
  @extend .flex-column; 

  flex: 100%;
}

.kiosk-people-slider__aspect-ratio {
  @extend .flex-column;
  height: 0;
  /* maintain 7:5 aspect ratio*/  
  padding-bottom: calc(100%*5/7);
  position: relative;   
}

.kiosk-people-slider__layout {
  @extend .flex-column;

  bottom: 0;
  flex: 100%;  
  flex-wrap: nowrap;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;  
  right: 0;
  top: 0;  
}

.kiosk-people-slider__layout__row {
  @extend .flex-container;

  flex-wrap: nowrap;
  overflow: hidden;
}

.kiosk-people-slider__layout__row-top,
.kiosk-people-slider__layout__row-bottom {
  @extend .kiosk-people-slider__layout__row;

  height: 20%;
  justify-content: space-between;   
}

.kiosk-people-slider__layout__row-middle {
  @extend .kiosk-people-slider__layout__row;
  
  height: 60%;
}

.kiosk-people-slider__layout__row-middle--column {
  @extend .flex-container;
  
  align-content: flex-start;
  align-items: center;
  justify-content: space-between; 
  overflow: hidden;
}

.kiosk-people-slider__layout__row-middle--column1,
.kiosk-people-slider__layout__row-middle--column3 {
  @extend .kiosk-people-slider__layout__row-middle--column;

  flex: calc(100% / 7);

  .kiosk-people-slider__layout__image {
    flex: 100%;
  }
}

.kiosk-people-slider__layout__row-middle--column2 {
  @extend .kiosk-people-slider__layout__row-middle--column;

  flex: calc(100% / 7 * 5);   
}

.kiosk-people-slider__layout__featured--column1 {
  flex: 60%;
  overflow: hidden;
}

.kiosk-people-slider__layout__featured--column2 {
  align-self: center;
  flex: 40%;
  font-size: 1.2em;
  font-style: italic;
  overflow: hidden;
  padding: 5px;  
  word-wrap: break-word;
}

.kiosk-people-slider__slider__carousel-indicators {
  @extend .carousel-indicators;
  visibility: hidden;
}

.kiosk-people__slider__carousel-inner {
  @extend .carousel-inner;  
}

.kiosk-people-slider__layout__header {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;  
  text-align: center;
}

.kiosk-people-slider__layout__image {
  @include img-responsive;
  @include center-block;

  max-height: 100%;
  overflow: hidden;
  padding: 5px;  
}

.kiosk-people-slider__layout__featured-image {
  @extend .kiosk-people-slider__layout__image;

  width: 100%;
}
