/* =====
   Posts
   =====*/

.kiosk-posts {
  overflow: hidden;
}

.kiosk-posts__slider {
  @extend .carousel;
}

.kiosk-posts__slider__carousel-indicators {
  @extend .carousel-indicators;
  visibility: hidden;
}

.kiosk-posts__slider__carousel-inner {
  @extend .carousel-inner;

  height: calc(100% - 60px);
}

.kiosk-posts__slider__slide {
  display: block;
  height: 100%;
  width: 100%;

  img {
    @include img-responsive;
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100% !important;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.kiosk-posts__no-data {
  text-align: center;
}
