/*!========================================================================
 * KIOSK WP v0.0.2
 * Copyright 2015 ASU
 * ======================================================================== */

.kiosk-page-template {
  font-family: "Helvetica Neue Bold", arial, helvetica, sans-serif;
  font-size: 100%;
  color: #333;
  height: 1080px;
  width: 1920px;
  background-image: url("../images/bg-display.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.kiosk-page-template h1 {
  font-weight: normal;
}

.kiosk-title {
  height: 151px;
  left: 40px;
  position: absolute;
  top: 40px;
  width: 495px;
  z-index: 15;
}

.kiosk-weather {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
  border: 5px solid #FFB310;
  border-radius: 25px;
  overflow: hidden;
  background: none repeat scroll 0% 0% rgba(106, 168, 79, 0.76);
  height: 240px;
  left: 40px;
  position: absolute;
  top: 200px;
  width: 495px;
  z-index: 4;
}

.kiosk-weather [class*='kiosk-weather__forecast']:not(:first-child) {
  padding-left: 0;
}

.kiosk-weather [class*='kiosk-weather__forecast']:not(:last-child) {
  padding-right: 0;
}

.kiosk-weather__forecast__item {
  text-align: center;
}

.kiosk-weather__forecast__item h5 {
  color: #ffffff;
}

.kiosk-weather__forecast__location {
  font-size: 2em;
  color: #fff;
  padding-left: 15px;
}

.kiosk-weather__current__item-image {
  width: 90%;
  --height: 5em;
  margin-top: 3em;
}

.kiosk_weather_forecast__item_image {
  width: 50%;
}

.kiosk-weather__current {
  color: #fff;
  text-align: center;
}

.kiosk-weather__forecast__item {
  color: #fff;
}

.kiosk-tweets {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
  border: 5px solid #FFB310;
  border-radius: 25px;
  overflow: hidden;
  background: none repeat scroll 0% 0% rgba(68, 68, 68, 0.6);
  color: #fff;
  height: 550px;
  left: 40px;
  position: absolute;
  top: 490px;
  width: 495px;
  z-index: 3;
  padding: 20px;
}

.kiosk-tweets_scroll-container {
  position: relative;
  overflow: hidden;
  height: 420px;
}
/* Header */

.kiosk-tweets_timeline-header {
  position: relative;
  color: #fff;
  margin-bottom: 10px;
  height: 60px;
}

.kiosk-tweets_timeline-header__title {
  position: relative;
  color: #fff;
  font-size: 2.5em;
}

.kiosk-tweets_timeline-header__twitter-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 3em;
  display: inline-block;
  vertical-align: middle;
  background: transparent url('../images/twitter-bird.png') no-repeat center;
  background-size: 100%;
  color: #fff;
  z-index: -1;
}

.kiosk-tweets__tweet__font-style {
  border-bottom: 1px;
  color: #ffffff;
}

.kiosk-tweets__tweet__link {
  color: #029;
}

.kiosk-tweets__tweet {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  ;
}

.kiosk-tweets__list {
  position: relative;
  height: 420px;
  padding-left: 0px;
  overflow: hidden;
}

.kiosk-tweets__tweet__avatar {
  float: left;
}

.kiosk-tweets__tweet__details {
  overflow: hidden;
  -- padding-left: 10px;
}

.kiosk-tweets__tweet__details_permalink {
  position: relative;
  float: right;
  z-index: 10;
}

.kiosk-tweets__tweet__details__header {
  position: relative;
  color: #fff;
}

.kiosk-tweets__tweet__details__header:after {
  clear: both;
}

.kiosk-tweets__tweet__avatar__image {
  width: 73px;
  height: 73px;
  margin-right: 15px;
}

.kiosk-tweets__tweet__details__header__full-name {
  padding-right: 10px;
}

.kiosk-tweets__tweet__details__text {
  padding-right: 10px;
  margin: 0 5px 0 0;
  overflow: hidden;
  clear: both;
  word-wrap: break-word;
}

.kiosk-tweets__tweet__retweet {
  margin: 3px 0;
}

.kiosk-tweets__tweet__retweet__icon {
  width: 14px;
  height: 16px;
  --margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
  background: transparent url('../images/retweet.png') no-repeat center;
}

.kiosk-tweets__tweet__details__actual-tweet-time {
  display: none;
}

.kiosk-events__slider__carousel-indicators {
  visibility: hidden;
}

.kiosk-events {
  height: 1019px;
  left: 592px;
  position: absolute;
  top: 55px;
  visibility: visible;
  width: 759px;
  z-index: 18;
}

.kiosk-events__slider__image {
  vertical-align: middle;
}

.kiosk-date-time {
  visibility: visible;
}

.kiosk-date-time__calendar {
  width: 151px;
  height: 151px;
  left: 1458px;
  top: 26px;
  position: absolute;
  z-index: 16;
}

.kiosk-date-time__calendar-icon {
  font-size: 1em;
  background-color: #FFF;
  border-radius: 0.1em;
  border: 0.3em solid #818486;
  top: 26px;
  position: absolute;
  overflow: hidden;
}

.kiosk-date-time__calendar-icon * {
  display: inline-block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.kiosk-date-time__calendar-icon strong {
  padding: 5px;
  color: #FFF;
  font-size: 24px;
  background-color: #A20B09;
  border-bottom: 1px none;
  box-shadow: 0px 2px 0px;
}

.kiosk-date-time__calendar-icon span {
  font-size: 48px;
  letter-spacing: -0.05em;
  color: #2F2F2F;
  padding: 0px 5px;
}

.kiosk-date-time__time {
  font-size: 1em;
  /* change kiosk_calendar_icon size */
  
  height: 79px;
  left: 1644px;
  position: absolute;
  top: 86px;
  visibility: visible;
  width: 195px;
  z-index: 17;
}

.kiosk-date-time__time p {
  font-family: Verdana, Verdana, Geneva, sans-serif;
  color: #900;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -0.05em;
}

.kiosk-gallery__slider-caption h3 {
  color: #ffffff;
}

.kiosk-gallery__slider__carousel-indicators {
  visibility: hidden;
}

.kiosk-gallery {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
  border: 5px solid #FFB310;
  height: 359px;
  left: 1398px;
  position: absolute;
  top: 188px;
  visibility: visible;
  width: 478px;
  z-index: 10;
}

.kiosk-gallery__slider__image {
  width: 478px;
  height: 359px;
}

.kiosk-asu-news__slider__carousel-indicators {
  visibility: hidden
}

.kiosk-asu-news {
  background-color: #ffffff;
  border-radius: 25px;
  border: 5px solid #FFB310;
  overflow: hidden;
  background-image: url("../images/asunews_now_header.jpg"), url("../images/asunews_grass.png");
  background-repeat: no-repeat;
  background-position: 10px 20px, center bottom;
  background-size: auto, 100% 20%;
  height: 465px;
  left: 1395px;
  position: absolute;
  top: 575px;
  width: 480px;
  z-index: 2;
}

.kiosk-asu-news h3 {
  margin-top: 80px;
}

.kiosk-asu-news p {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.kiosk-asu-news__slider {
  overflow: hidden;
}
