/*!========================================================================
 * GIOS WP v0.0.2
 * ========================================================================
 * Copyright 2014 ASU
 * ======================================================================== */
.text-pop {
  background-color: #e6e6e6;
  padding-left: 5px;
  padding-right: 5px;
}

.asu-box {
  border-top: 8px solid #990033;
  margin-bottom: 10px;
  padding: 20px;
  position: relative;
}
.asu-box:before {
  border-bottom: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media (min-width: 992px) {
  .vertical-align-md {
    align-items: center;
    display: flex;
  }
}

.social-media {
  list-style: none;
  padding-left: 0;
}
.social-media li {
  display: inline-block;
  font-size: 50px;
}
.social-media li a {
  border-bottom: 0;
  text-decoration: none;
}

.calendar {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.calendar time.icon {
  -webkit-backface-visibility: hidden;
  background-color: #fff;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  -moz-box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd;
  -webkit-box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd;
  display: block;
  font-size: 5px;
  height: 40px;
  overflow: hidden;
  position: relative;
  -moz-transform: rotate(0deg) skewY(0deg);
  -ms-transform: rotate(0deg) skewY(0deg);
  -o-transform: rotate(0deg) skewY(0deg);
  -webkit-transform: rotate(0deg) skewY(0deg);
  transform: rotate(0deg) skewY(0deg);
  -moz-transform-origin: 50% 10%;
  -ms-transform-origin: 50% 10%;
  -o-transform-origin: 50% 10%;
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
  width: 40px;
}
.calendar time.icon * {
  display: block;
  font-size: 1em;
  font-style: normal;
  text-align: center;
  width: 100%;
}
.calendar time.icon strong {
  background-color: #fd9f1b;
  -moz-box-shadow: 0 2px 0 #fd9f1b;
  -webkit-box-shadow: 0 2px 0 #fd9f1b;
  box-shadow: 0 2px 0 #fd9f1b;
  color: #fff;
  font-size: 2.5em;
  font-weight: normal;
  height: 16px;
  padding: 1px 0;
  position: absolute;
  top: 0;
}
.calendar time.icon em {
  bottom: 0;
  color: #666;
  font-size: 3.3em;
  font-weight: bold;
  position: absolute;
}

.map:not(.parent) {
  background-color: #d4edf9;
  border: 0;
  -webkit-border-radius: .6em;
  border-radius: .6em;
  -moz-box-shadow: 0 1px 0 #bdbdbd;
  -webkit-box-shadow: 0 1px 0 #bdbdbd;
  box-shadow: 0 1px 0 #bdbdbd;
  display: inline-block;
  float: left;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.pin {
  background: #0c4c75;
  -webkit-border-radius: 50% 50% 50% 0;
  border-radius: 50% 50% 50% 0;
  height: 21px;
  margin: 4px 0 0 10px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 21px;
}
.pin:after {
  background: #d4edf9;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: '';
  height: 9px;
  margin: 6px 0 0 6px;
  position: absolute;
  width: 9px;
}

.pulse {
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 12px;
  margin: -1px 0 0 14px;
  -moz-transform: rotateX(55deg);
  -ms-transform: rotateX(55deg);
  -o-transform: rotateX(55deg);
  -webkit-transform: rotateX(55deg);
  transform: rotateX(55deg);
  width: 12px;
  z-index: -2;
}
.pulse:after {
  -moz-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 0 1px 2px #0c4c75;
  -webkit-box-shadow: 0 0 1px 2px #0c4c75;
  box-shadow: 0 0 1px 2px #0c4c75;
  content: '';
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
  height: 30px;
  margin: -10px 0 0 -9px;
  opacity: .4;
  position: absolute;
  width: 30px;
}

.posts-full-list .post-blurb h2 {
  font-size: 24px;
  margin-top: 0;
}
@media (max-width: 991px) {
  .posts-full-list .post-blurb h2 {
    font-size: 22px;
  }
}
.posts-full-list .post-blurb h2 a {
  border-bottom: 0;
}
.posts-full-list .post-blurb .categories:before, .posts-full-list .post-blurb .categories:after {
  content: ' ';
  display: table;
}
.posts-full-list .post-blurb .categories:after {
  clear: both;
}
.posts-full-list .post-blurb .categories .post-category {
  float: right;
}
.posts-full-list .post-blurb .post-toolbar {
  background-color: #f5f5f5;
  border-top: 1px solid #e9e9e9;
  clear: both;
  margin-bottom: -19px;
  margin-left: -20px;
  margin-right: -20px;
}
.posts-full-list .post-blurb .post-toolbar:before, .posts-full-list .post-blurb .post-toolbar:after {
  clear: both;
  content: ' ';
  display: table;
}
.posts-full-list .post-blurb .post-toolbar > a,
.posts-full-list .post-blurb .post-toolbar > span {
  background-color: #eee;
  border-bottom: 0;
  border-left: 1px solid #dedede;
  display: inline-block;
  float: right;
  padding: 11px 15px;
  text-decoration: none;
}
.posts-full-list .post-blurb .post-toolbar > a:hover,
.posts-full-list .post-blurb .post-toolbar > span:hover {
  background-color: #dedede;
}
.posts-full-list .post-blurb .post-toolbar > a.rsvp,
.posts-full-list .post-blurb .post-toolbar > span.rsvp {
  background-color: #903;
  color: white !important;
}
.posts-full-list .post-blurb .post-toolbar > a.rsvp:hover,
.posts-full-list .post-blurb .post-toolbar > span.rsvp:hover {
  background-color: #c03;
  color: white !important;
}
.posts-full-list .post-blurb .headliner {
  border-left: solid 4px #990033;
  margin: 5px 10px;
  padding-left: 10px;
}
.posts-full-list .post-blurb .headliner h2 {
  font-size: 1.3em;
  margin-bottom: 5px;
}
.posts-full-list .post-blurb .headliner ul {
  margin-left: 0;
  padding: 0;
}
.posts-full-list .post-blurb .headliner li {
  color: #333;
  cursor: default;
  font-family: 'Gill Sans / Gill Sans MT', 'Gill Sans MT', 'Droid Sans', Verdana, Arial, Geneva, sans-serif;
  font-size: 15px;
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 5px 8px;
}
.posts-full-list .post-blurb .date-description:after {
  clear: both;
  content: '';
}
.posts-full-list .post-blurb .location-box-content {
  display: inline-block;
  vertical-align: top;
}

.post-category,
.news-category {
  color: white;
  display: none;
  font-size: 80%;
  margin-left: 10px;
  padding: 1px 3px;
  text-align: center;
  white-space: nowrap;
}

.news-category {
  background: gray;
  color: white;
  display: block;
}

.wrigley-lecture,
.type-wrigley-lecture {
  background-color: #5b6770;
  color: white;
  display: block;
}

.sustainability-series,
.type-sustainability-series {
  background-color: #5d9732;
  color: white;
  display: block;
}

.case-critical,
.type-case-critical {
  background-color: #ff6c00;
  color: white;
  display: block;
}

.carbon-nation,
.type-carbon-nation {
  background-color: #188dcb;
  color: white;
  display: block;
}

.lightworks,
.type-lightworks {
  background-color: #fdc33c;
  color: white;
  display: block;
}

.scientists-and-scholars,
.type-scientists-and-scholars {
  background-color: #a9d0e3;
  color: black;
  display: block;
}

.carbon-nation,
.type-carbon-nation {
  background-color: #188dcb;
  color: white;
  display: block;
}

.sustainability-after-school,
.type-sustainability-after-school {
  background-color: #8a1042;
  color: white;
  display: block;
}

.sustainability-scientists,
.type-sustainability-scientists {
  background-color: #a9d0e3;
  color: white;
  display: block;
}

.media-grid-view div.media-thumb-view {
  min-height: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.media-thumb {
  min-height: 120px;
}

.news .categories:before, .news .categories:after {
  content: ' ';
  display: table;
}
.news .categories:after {
  clear: both;
}
.news .categories .news-category {
  float: right;
}

.sos-hero,
.sos-hero-slim {
  background-color: #d5d5d5;
  position: relative;
  width: 100%;
}
.sos-hero .container,
.sos-hero-slim .container {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.sos-hero .panel-pane,
.sos-hero-slim .panel-pane {
  font-family: 'open sans', arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
  margin-top: 3%;
}
.sos-hero .panel-pane .pane-title,
.sos-hero-slim .panel-pane .pane-title {
  color: #fff;
  display: block;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px;
}
@media (max-width: 1199px) {
  .sos-hero .panel-pane .pane-title,
  .sos-hero-slim .panel-pane .pane-title {
    font-size: 32px;
  }
}
@media (max-width: 1091px) {
  .sos-hero .panel-pane .pane-title,
  .sos-hero-slim .panel-pane .pane-title {
    font-size: 28px;
  }
}
@media (max-width: 991px) {
  .sos-hero .panel-pane .pane-title,
  .sos-hero-slim .panel-pane .pane-title {
    font-size: 24px;
  }
}

.sos-hero {
  padding-bottom: 30%;
}
.sos-hero img {
  left: 0;
  min-height: 30%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.sos-hero .panel-pane {
  width: 50%;
}
@media (max-width: 767px) {
  .sos-hero .panel-pane {
    display: none;
  }
}
.sos-hero .panel-pane .pane-title {
  width: 200%;
}
@media (min-width: 1200px) {
  .sos-hero .panel-pane .pane-title {
    font-size: 50px;
  }
}
.sos-hero .panel-pane .pane-content {
  color: #fff;
  font-weight: bold;
  margin: -14px 0 0;
  padding-top: 8px;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px;
}
@media (max-width: 1199px) {
  .sos-hero .panel-pane .pane-content {
    font-size: .9em;
    margin-top: -18px;
  }
}
.sos-hero .panel-pane p {
  font-weight: bold;
  margin: 0 0 14px;
}
@media (max-width: 1199px) {
  .sos-hero .panel-pane p {
    margin: 0 0 10px;
  }
}

.sos-hero-mobile {
  display: none;
  font-family: 'open sans', arial, sans-serif;
  font-size: 22px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .sos-hero-mobile {
    display: block;
  }
}
.sos-hero-mobile .pane-title {
  background-color: #568e14;
  color: #fff;
  display: block;
  font-family: 'open sans', arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 8px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
}
.sos-hero-mobile .pane-content {
  font-size: 18px;
  padding: 25px;
}
.sos-hero-mobile .pane-content p {
  margin: 0 0 8px;
}

body.home .sos-hero-mobile {
  display: none !important;
}

.sos-hero-slim {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70px;
}
.sos-hero-slim .panel-pane {
  margin-top: 14px;
}
@media (max-width: 1091px) {
  .sos-hero-slim .panel-pane {
    margin-top: 18px;
  }
}
@media (max-width: 767px) {
  .sos-hero-slim .panel-pane {
    display: table-cell;
    margin-top: 0;
    vertical-align: middle;
  }
}
@media (max-width: 767px) {
  .sos-hero-slim .panel-panel.row-fluid {
    display: block;
    height: 70px;
  }
  .sos-hero-slim .panel-panel.span12 {
    display: table;
    height: 100%;
    width: 100%;
  }
}
#kiosk-slider > .carousel-indicators li { visibility: hidden; }
.carousel-caption {
        padding-bottom: 1px;
    }
/*# sourceMappingURL=style.css.map */
