/*! ================================================
    Scss Style for the GIOS WordPress powered Kiosks
    MIT License Copyright ASU 2015
    ================================================*/
/* =========
   Bootstrap
   =========*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid, .kiosk-weather__forecast {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid:before, .kiosk-weather__forecast:before, .container-fluid:after, .kiosk-weather__forecast:after {
  content: " ";
  display: table;
}
.container-fluid:after, .kiosk-weather__forecast:after {
  clear: both;
}

.row, .kiosk-weather__weather__row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .kiosk-weather__weather__row:before, .row:after, .kiosk-weather__weather__row:after {
  content: " ";
  display: table;
}
.row:after, .kiosk-weather__weather__row:after {
  clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .kiosk-weather__current, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .kiosk-weather__forecast__item, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .kiosk-weather__forecast, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .kiosk-weather__current, .col-xs-4, .kiosk-weather__forecast__item, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .kiosk-weather__forecast, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3, .kiosk-weather__current {
  width: 25%;
}

.col-xs-4, .kiosk-weather__forecast__item {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9, .kiosk-weather__forecast {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-pull-1 {
    right: 8.33333%;
  }

  .col-sm-pull-2 {
    right: 16.66667%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-4 {
    right: 33.33333%;
  }

  .col-sm-pull-5 {
    right: 41.66667%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-7 {
    right: 58.33333%;
  }

  .col-sm-pull-8 {
    right: 66.66667%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-10 {
    right: 83.33333%;
  }

  .col-sm-pull-11 {
    right: 91.66667%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-push-1 {
    left: 8.33333%;
  }

  .col-sm-push-2 {
    left: 16.66667%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-4 {
    left: 33.33333%;
  }

  .col-sm-push-5 {
    left: 41.66667%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-7 {
    left: 58.33333%;
  }

  .col-sm-push-8 {
    left: 66.66667%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-10 {
    left: 83.33333%;
  }

  .col-sm-push-11 {
    left: 91.66667%;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-pull-1 {
    right: 8.33333%;
  }

  .col-md-pull-2 {
    right: 16.66667%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-4 {
    right: 33.33333%;
  }

  .col-md-pull-5 {
    right: 41.66667%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-7 {
    right: 58.33333%;
  }

  .col-md-pull-8 {
    right: 66.66667%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-10 {
    right: 83.33333%;
  }

  .col-md-pull-11 {
    right: 91.66667%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-push-1 {
    left: 8.33333%;
  }

  .col-md-push-2 {
    left: 16.66667%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-4 {
    left: 33.33333%;
  }

  .col-md-push-5 {
    left: 41.66667%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-7 {
    left: 58.33333%;
  }

  .col-md-push-8 {
    left: 66.66667%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-10 {
    left: 83.33333%;
  }

  .col-md-push-11 {
    left: 91.66667%;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-pull-1 {
    right: 8.33333%;
  }

  .col-lg-pull-2 {
    right: 16.66667%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-4 {
    right: 33.33333%;
  }

  .col-lg-pull-5 {
    right: 41.66667%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-7 {
    right: 58.33333%;
  }

  .col-lg-pull-8 {
    right: 66.66667%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-10 {
    right: 83.33333%;
  }

  .col-lg-pull-11 {
    right: 91.66667%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-push-1 {
    left: 8.33333%;
  }

  .col-lg-push-2 {
    left: 16.66667%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-4 {
    left: 33.33333%;
  }

  .col-lg-push-5 {
    left: 41.66667%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-7 {
    left: 58.33333%;
  }

  .col-lg-push-8 {
    left: 66.66667%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-10 {
    left: 83.33333%;
  }

  .col-lg-push-11 {
    left: 91.66667%;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
.carousel, .kiosk-gallery__slider, .kiosk-asu-news__slider, .kiosk-posts__slider, .kiosk-people-slider__slider {
  position: relative;
}

.carousel-inner, .kiosk-gallery__slider__carousel-inner, .kiosk-asu-news__slider__carousel-inner, .kiosk-posts__slider__carousel-inner, .kiosk-people__slider__carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner > .item, .kiosk-gallery__slider__carousel-inner > .item, .kiosk-asu-news__slider__carousel-inner > .item, .kiosk-posts__slider__carousel-inner > .item, .kiosk-people__slider__carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img, .kiosk-gallery__slider__carousel-inner > .item > img, .kiosk-asu-news__slider__carousel-inner > .item > img, .kiosk-posts__slider__carousel-inner > .item > img, .kiosk-people__slider__carousel-inner > .item > img,
.carousel-inner > .item > a > img,
.kiosk-gallery__slider__carousel-inner > .item > a > img,
.kiosk-asu-news__slider__carousel-inner > .item > a > img,
.kiosk-posts__slider__carousel-inner > .item > a > img,
.kiosk-people__slider__carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item, .kiosk-gallery__slider__carousel-inner > .item, .kiosk-asu-news__slider__carousel-inner > .item, .kiosk-posts__slider__carousel-inner > .item, .kiosk-people__slider__carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -moz-transition: -moz-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-inner > .item.next, .kiosk-gallery__slider__carousel-inner > .item.next, .kiosk-asu-news__slider__carousel-inner > .item.next, .kiosk-posts__slider__carousel-inner > .item.next, .kiosk-people__slider__carousel-inner > .item.next, .carousel-inner > .item.active.right, .kiosk-gallery__slider__carousel-inner > .item.active.right, .kiosk-asu-news__slider__carousel-inner > .item.active.right, .kiosk-posts__slider__carousel-inner > .item.active.right, .kiosk-people__slider__carousel-inner > .item.active.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.prev, .kiosk-gallery__slider__carousel-inner > .item.prev, .kiosk-asu-news__slider__carousel-inner > .item.prev, .kiosk-posts__slider__carousel-inner > .item.prev, .kiosk-people__slider__carousel-inner > .item.prev, .carousel-inner > .item.active.left, .kiosk-gallery__slider__carousel-inner > .item.active.left, .kiosk-asu-news__slider__carousel-inner > .item.active.left, .kiosk-posts__slider__carousel-inner > .item.active.left, .kiosk-people__slider__carousel-inner > .item.active.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.next.left, .kiosk-gallery__slider__carousel-inner > .item.next.left, .kiosk-asu-news__slider__carousel-inner > .item.next.left, .kiosk-posts__slider__carousel-inner > .item.next.left, .kiosk-people__slider__carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .kiosk-gallery__slider__carousel-inner > .item.prev.right, .kiosk-asu-news__slider__carousel-inner > .item.prev.right, .kiosk-posts__slider__carousel-inner > .item.prev.right, .kiosk-people__slider__carousel-inner > .item.prev.right, .carousel-inner > .item.active, .kiosk-gallery__slider__carousel-inner > .item.active, .kiosk-asu-news__slider__carousel-inner > .item.active, .kiosk-posts__slider__carousel-inner > .item.active, .kiosk-people__slider__carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.carousel-inner > .active, .kiosk-gallery__slider__carousel-inner > .active, .kiosk-asu-news__slider__carousel-inner > .active, .kiosk-posts__slider__carousel-inner > .active, .kiosk-people__slider__carousel-inner > .active,
.carousel-inner > .next,
.kiosk-gallery__slider__carousel-inner > .next,
.kiosk-asu-news__slider__carousel-inner > .next,
.kiosk-posts__slider__carousel-inner > .next,
.kiosk-people__slider__carousel-inner > .next,
.carousel-inner > .prev,
.kiosk-gallery__slider__carousel-inner > .prev,
.kiosk-asu-news__slider__carousel-inner > .prev,
.kiosk-posts__slider__carousel-inner > .prev,
.kiosk-people__slider__carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active, .kiosk-gallery__slider__carousel-inner > .active, .kiosk-asu-news__slider__carousel-inner > .active, .kiosk-posts__slider__carousel-inner > .active, .kiosk-people__slider__carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next, .kiosk-gallery__slider__carousel-inner > .next, .kiosk-asu-news__slider__carousel-inner > .next, .kiosk-posts__slider__carousel-inner > .next, .kiosk-people__slider__carousel-inner > .next,
.carousel-inner > .prev,
.kiosk-gallery__slider__carousel-inner > .prev,
.kiosk-asu-news__slider__carousel-inner > .prev,
.kiosk-posts__slider__carousel-inner > .prev,
.kiosk-people__slider__carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next, .kiosk-gallery__slider__carousel-inner > .next, .kiosk-asu-news__slider__carousel-inner > .next, .kiosk-posts__slider__carousel-inner > .next, .kiosk-people__slider__carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev, .kiosk-gallery__slider__carousel-inner > .prev, .kiosk-asu-news__slider__carousel-inner > .prev, .kiosk-posts__slider__carousel-inner > .prev, .kiosk-people__slider__carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left, .kiosk-gallery__slider__carousel-inner > .next.left, .kiosk-asu-news__slider__carousel-inner > .next.left, .kiosk-posts__slider__carousel-inner > .next.left, .kiosk-people__slider__carousel-inner > .next.left,
.carousel-inner > .prev.right,
.kiosk-gallery__slider__carousel-inner > .prev.right,
.kiosk-asu-news__slider__carousel-inner > .prev.right,
.kiosk-posts__slider__carousel-inner > .prev.right,
.kiosk-people__slider__carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left, .kiosk-gallery__slider__carousel-inner > .active.left, .kiosk-asu-news__slider__carousel-inner > .active.left, .kiosk-posts__slider__carousel-inner > .active.left, .kiosk-people__slider__carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right, .kiosk-gallery__slider__carousel-inner > .active.right, .kiosk-asu-news__slider__carousel-inner > .active.right, .kiosk-posts__slider__carousel-inner > .active.right, .kiosk-people__slider__carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control:hover, .carousel-control:focus {
  outline: 0;
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}

.carousel-indicators, .kiosk-gallery__slider__carousel-indicators, .kiosk-posts__slider__carousel-indicators, .kiosk-people-slider__slider__carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.carousel-indicators li, .kiosk-gallery__slider__carousel-indicators li, .kiosk-posts__slider__carousel-indicators li, .kiosk-people-slider__slider__carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: transparent;
}
.carousel-indicators .active, .kiosk-gallery__slider__carousel-indicators .active, .kiosk-posts__slider__carousel-indicators .active, .kiosk-people-slider__slider__carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
  text-shadow: none;
}

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -15px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -15px;
  }

  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }

  .carousel-indicators, .kiosk-gallery__slider__carousel-indicators, .kiosk-posts__slider__carousel-indicators, .kiosk-people-slider__slider__carousel-indicators {
    bottom: 20px;
  }
}
/* ================
   Variables
   ================*/
/* ===============
   Color Variables
   =============== */
/* ====================
   Typography Variables
   ==================== */
/* ======
   Mixins
   ======*/
/* ======
   Boxify
   ======*/
/* ==========
   Components
   ========== */
/* =========
   Flex Grid
   =========*/
.flex-container, .kiosk-date-time, .kiosk-people-slider__layout__row, .kiosk-people-slider__layout__row-top,
.kiosk-people-slider__layout__row-bottom, .kiosk-people-slider__layout__row-middle, .kiosk-people-slider__layout__row-middle--column2, .kiosk-lobby, .kiosk-third-floor {
  align-content: space-around;
  align-items: center;
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  vertical-align: middle;
  width: 100%;
}

.flex-column, .kiosk-people-slider__layout, .kiosk-people-slider__layout__row-middle--column1,
.kiosk-people-slider__layout__row-middle--column3, .kiosk-lobby__column--1,
.kiosk-lobby__column--3, .kiosk-lobby__column--2, .kiosk-third-floor__column, .kiosk-third-floor__column--1, .kiosk-third-floor__column--2 {
  align-content: space-around;
  align-items: center;
  display: flex;
  flex: auto;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  vertical-align: middle;
}

/* =================
   Weather Component
   =================*/
.kiosk-weather {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.75);
  border: 3px solid #ffb310;
  border-radius: 1px;
  background: rgba(86, 142, 20, 0.7);
  overflow: hidden;
  padding: 15px;
  vertical-align: middle;
  width: 100%;
}

.kiosk-weather__forecast {
  padding: 0;
}

.kiosk-weather__weather__row {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kiosk-weather__current {
  padding: 0;
}

.kiosk-weather__forecast__item {
  color: #fff;
  padding: 0;
  text-align: center;
}

.kiosk-weather__forecast__item + .kiosk-weather__forecast__item {
  padding: 0 10px;
}

.kiosk-weather__forecast__title {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 15px;
  text-align: center;
}

.kiosk-weather__current__item__image {
  display: block;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.kiosk-weather_forecast__item_image {
  display: block;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kiosk-weather__current__item__text {
  color: #fff;
  text-align: center;
}

.kiosk-weather__forecast__item__header {
  color: #fff;
  font-weight: bold;
  padding: 5px;
}

/* =================
   Twitter Component
   =================*/
.kiosk-tweets {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.75);
  border: 3px solid #ffb310;
  border-radius: 1px;
  background: rgba(86, 142, 20, 0.7);
  color: #fff;
  overflow: hidden;
  padding: 15px;
  width: 100%;
}

.kiosk-tweets__container {
  height: 40%;
  overflow: hidden;
  padding-bottom: 10px;
  position: relative;
}

.kiosk-tweets__timeline__title {
  color: #fff;
  margin-bottom: 10px;
  position: relative;
}

.kiosk-tweets__timeline__title__text {
  color: #fff;
  font-size: 2.5em;
}

.kiosk-tweets__timeline__title__logo {
  background: transparent url("../images/twitter-bird.png") no-repeat center;
  background-size: 100%;
  color: #fff;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 15px;
  vertical-align: middle;
  width: 3em;
}

.kiosk-tweets__tweets {
  height: 100%;
  list-style: none;
  padding-left: 15px;
  position: relative;
}

.kiosk-tweets__tweets__tweet {
  clear: both;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}

.kiosk-tweets__tweet__avatar {
  display: block;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  margin-right: 15px;
}

.kiosk-tweets__tweet__details {
  overflow: hidden;
}

.kiosk-tweets__tweet__details__header {
  margin-bottom: 15px;
}

.kiosk-tweets__tweet__details__permalink {
  border-bottom: 1px;
  color: #fff;
  float: right;
  position: relative;
}

.kiosk-tweets__tweet__link {
  border-bottom: 3px solid #039be5;
  box-shadow: inset 0 -3px 0 #039be5;
  color: #fff;
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.kiosk-tweets__tweet__retweet__icon {
  background: transparent url("../images/retweet.png") no-repeat center;
  display: inline-block;
  height: 16px;
  vertical-align: middle;
  width: 14px;
}

.kiosk-tweets__tweet__avatar__image {
  display: block;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ========
   Calendar
   ========*/
.kiosk-date-time {
  overflow: hidden;
}

.kiosk-date-time__calendar-icon {
  background-color: #fff;
  border: .3em solid #818486;
  border-radius: .1em;
  overflow: hidden;
}
.kiosk-date-time__calendar-icon * {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.kiosk-date-time__calendar__month {
  background-color: #a20b09;
  color: #fff;
  font-size: 1.3em;
}

.kiosk-date-time__calendar__date {
  color: #2f2f2f;
  font-size: 2.5em;
  letter-spacing: -.05em;
}

.kiosk-date-time__time {
  color: #900;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -.05em;
}

/* =======
   Gallery
   =======*/
.kiosk-gallery {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.75);
  border: 3px solid #ffb310;
  border-radius: 1px;
  background: rgba(86, 142, 20, 0.7);
  height: 360px;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
}

.kiosk-gallery__slider-caption h3 {
  color: #fff;
}

.kiosk-gallery__slider {
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
}

.kiosk-gallery__carousel-inner {
  height: 100%;
}

.kiosk-gallery__slider__slide {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.kiosk-gallery__slider__slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.kiosk-gallery__slider__carousel-indicators {
  visibility: hidden;
}

/* ====
   News
   ====*/
.kiosk-asu-news {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.75);
  border: 3px solid #ffb310;
  border-radius: 1px;
  background-color: #fff;
  background-image: url("../images/asunews_now_header.jpg"), url("../images/asunews_grass.png");
  background-position: 20px 20px, 0% 103%;
  background-repeat: no-repeat;
  background-size: auto, 100% 20%;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.kiosk-asu-news h3 {
  margin-top: 80px;
}
.kiosk-asu-news p {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.kiosk-asu-news__slider__carousel-indicators {
  visibility: hidden;
}

.kiosk-asu-news__slider {
  overflow: hidden;
}

/* =====
   Posts
   =====*/
.kiosk-posts {
  display: block;
  height: 1019px;
  overflow: hidden;
}

.kiosk-posts__slider__carousel-indicators {
  visibility: hidden;
}

.kiosk-posts__slider {
  height: 100%;
}

.kiosk-posts__carousel-inner {
  height: 100%;
}

.kiosk-posts__slider__slide {
  height: 100%;
}
.kiosk-posts__slider__slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

/* =============
   People Slider
   =============*/
.kiosk-people-slider {
  display: block;
  height: 100%;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
}

.kiosk-people-slider__aspect-ratio {
  height: 0;
  /* maintain 7:5 aspect ratio*/
  padding-bottom: calc(100%*5/7);
  position: relative;
}

.kiosk-people-slider__slider {
  bottom: 0;
  /* Using only 93% to fit to outer div as images pops out of div due to heading space*/
  height: 93%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 93%;
}

.kiosk-people-slider__layout {
  flex-wrap: nowrap;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.kiosk-people-slider__layout__row, .kiosk-people-slider__layout__row-top,
.kiosk-people-slider__layout__row-bottom, .kiosk-people-slider__layout__row-middle {
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.kiosk-people-slider__layout__row-top,
.kiosk-people-slider__layout__row-bottom {
  height: 20%;
}

.kiosk-people-slider__layout__row-middle {
  height: 60%;
}

.kiosk-people-slider__layout__row-middle--column1,
.kiosk-people-slider__layout__row-middle--column3 {
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 100%;
  overflow: hidden;
  width: calc(100% / 7);
}

.kiosk-people-slider__layout__row-middle--column2 {
  align-content: flex-start;
  align-items: flex-start;
  height: 100%;
  justify-content: flex-start;
  overflow: hidden;
  width: calc(100% / 7 * 5);
}

.kiosk-people-slider__layout__featured--column, .kiosk-people-slider__layout__featured--column1, .kiosk-people-slider__layout__featured--column2 {
  align-self: center;
  display: block;
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
}

.kiosk-people-slider__layout__featured--column1 {
  padding: 2px 5px 5px 2px;
  width: 60%;
}

.kiosk-people-slider__layout__featured--column2 {
  font-size: 1.2em;
  font-style: italic;
  padding: 5px 5px 5px 10px;
  width: 40%;
  word-wrap: break-word;
}

.kiosk-people-slider__slider__carousel-indicators {
  visibility: hidden;
}

.kiosk-people-slider__layout__header {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
  text-align: center;
}

.kiosk-people-slider__layout__image {
  display: block;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  display: block;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 5px;
}

.kiosk-people-slider__layout__featured-image {
  display: block;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  display: block;
  overflow: hidden;
  padding: 5px 0 5px 5px;
  width: 100%;
}

/*====
  Logo
  ====*/
.kiosk-logo__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

/* ===============
   Page Components
   =============== */
/* ======================
   Kiosk Lobby Compoments
   ======================*/
* {
  box-sizing: border-box;
}

.kiosk-lobby {
  background-image: url("../images/bg-display.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  font-family: "Helvetica Neue Bold", arial, helvetica, sans-serif;
  padding: 15px 0;
  width: 100%;
}

.kiosk-lobby__column--1,
.kiosk-lobby__column--3, .kiosk-lobby__column--2 {
  flex: .3;
  padding: 10px;
}

.kiosk-lobby__column--1,
.kiosk-lobby__column--3 {
  flex: .3;
}

.kiosk-lobby__column--2 {
  flex: .4;
}

@media screen and (max-width: 1500px) {
  .kiosk-lobby__column--1 {
    order: 1;
  }

  .kiosk-lobby__column--2 {
    order: 3;
  }

  .kiosk-lobby__column--3 {
    order: 2;
  }
}
.kiosk-lobby__weather {
  padding: 15px 0;
  width: 100%;
}

.kiosk-lobby__tweets {
  flex: 1;
  padding: 15px 0;
  width: 100%;
}

.kiosk-lobby__time {
  height: 151px;
  max-width: 480px;
  padding: 0 15% 15px;
  width: 100%;
}

.kiosk-lobby__gallery {
  height: 392px;
  padding: 15px 0;
  width: 100%;
}

.kiosk-lobby__asu-news {
  height: 418px;
  padding: 15px 0 10px;
  width: 100%;
}

.kiosk-lobby__posts {
  height: 1019px;
  width: 100%;
}

/* ======================
   Kiosk Third Floor Compoments
   ======================*/
.kiosk-third-floor {
  background: linear-gradient(to bottom, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 54%, #9fd8ef 58%, #2ab0ed 100%);
  color: #333;
  font-family: "Helvetica Neue Bold", arial, helvetica, sans-serif;
  font-size: 1.6vmin;
  padding: 15px;
  width: 100%;
}

.kiosk-third-floor__column, .kiosk-third-floor__column--1, .kiosk-third-floor__column--2 {
  padding: 15px;
}

.kiosk-third-floor__column--1 {
  width: 70%;
}

.kiosk-third-floor__column--2 {
  width: 30%;
}

@media screen and (max-width: 1200px) {
  .kiosk-third-floor__column--1 {
    width: 100%;
  }

  .kiosk-third-floor__column--2 {
    width: 100%;
  }
}
.kiosk-third-floor__logo {
  display: block;
  height: 15%;
  padding: 0;
  width: 100%;
}

.kiosk-third-floor__people-slider {
  height: 85%;
  width: 100%;
}

.kiosk-third-floor__weather {
  height: 25%;
  max-height: 300px;
  max-width: 580px;
  padding: 15px 0;
  width: 100%;
}

.kiosk-third-floor__tweets {
  height: 60%;
  max-height: 700px;
  max-width: 580px;
  padding: 15px 0;
  width: 100%;
}

.kiosk-third-floor__time {
  height: 15%;
  max-height: 200px;
  max-width: 580px;
  padding: 0 20% 15px;
  width: 100%;
}

/*# sourceMappingURL=wordpress-news-kiosk-plugin.css.map */
