/*
 * Posts Admin Manager CSS
 */

.posts-admin-flex {
  align-content: space-between;
  align-items: stretch;
  display: flex;
  justify-content: space-between;
}

.posts-admin {
  flex-direction: column;
}

.posts-admin__row {
  align-items: stretch;
}

.posts-admin__row:nth-child(odd) {
  background: #fff;
}

.posts-admin__row:nth-child(even) {
  background: #eee;
}

.posts-admin__image {
  border: 1px solid #ddd;
  flex: 0.1;
  padding: 5px;
}

.posts-admin__image > a > img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.posts-admin__id {
  border: 1px solid #ddd;
  flex: 0.1;
  padding: 5px;
}

.posts-admin__title {
  border: 1px solid #ddd;
  flex: 1;
  padding: 5px;
  word-wrap: break-word;
}

.posts-admin__date {
  border: 1px solid #ddd;
  flex: 0.3;
  padding: 5px;
}

.posts-admin__status {
  border: 1px solid #ddd;
  flex: 0.2;
  padding: 5px;
}

.posts-admin__head-text {
  font-weight: bold;
  font-size: 1.2em;
}
