/*
 * Posts Admin Manager CSS
 */
.timeline-block{
  width:70vw;
  height: 100%;
  padding-top: 10px;
}
.timeline_header{
  width:100%;
  height: 2vh;
  display: flex;
}
.timeline_header_section{
  align-items:strech;
  width:100%;
  text-align: center;
}
.timeline_header_section:nth-child(even){
  background-color: tomato; 

}
.timeline_header_section:nth-child(odd){
  background-color: orange; 
}
.timeline-row-item{
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  position: relative;
}
.timeline-row-item:nth-child(even){
  background: linear-gradient(to left, rgba(228,245,252,1) 0%,rgba(228,245,252,1) 29%,rgba(191,232,249,1) 50%,rgba(42,176,237,1) 100%);

}

.timeline-row-item:nth-child(odd){
background: linear-gradient(to left, rgba(245,255,221,1) 0%,rgba(188,232,30,1) 100%);
}
.timeline-row-item--text{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  text-align: center;

}
