/*
 * Posts Admin Manager CSS
 */
.timeline-block{
  width:70vw;
  height: 100%;
  padding-top: 10px;
}
.timeline_header{
  width:100%;
  height: 2vh;
  display: flex;
}
.timeline_header_section{
  align-items:strech;
  width:100%;
  text-align: center;
}
.timeline_header_section:nth-child(even) {
  background-color: tomato; 

}
.timeline_header_section:nth-child(odd) {
  background-color: orange; 
}
.timeline-row-item{
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  display: flex;
}

.timeline-row-item:nth-child(even) .timeline-row-item__margin{
  background: rgba(42,176,237,1);
  border-radius: 10px;
}
.timeline-row-item:nth-child(odd) .timeline-row-item__margin{
  background: rgba(188,232,30,1);
  border-radius: 10px;
}
.timeline-row-item__text{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  text-align: center;
  z-index: 10;
}
.timeline-row-item__duration{
  position: absolute;
  top:0;
  right: 0;
  bottom:0;
  text-align: center;
  z-index: 10;
}
.timeline-row-item__status{
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom:0;
  text-align: center;
  z-index: 10;
}
.posts-table__image{
  width: 100px;
}

